body {
  background: #000000;
  background-image: url('assets/images/backgound-image.jpg');
  background-image: linear-gradient(167deg, rgba(0,0,0,0.48783263305322133) 0%, rgba(0,0,0,1) 44%, rgba(0,0,0,1) 100%), url('assets/images/backgound-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff
}

.main-container {
  flex-grow: 1;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.btn-primary {
  background-color: #8b0000!important;
  color: white!important;
}

.btn-primary:hover {
  background-color: #680303!important;
}